@font-face {
    font-family: 'futuralightbt';
    src: local('futuralightbt'), url(../fonts/futuralightbt.ttf) format('truetype')
}

.nav-item .nav-link {
    font-family: 'futuralightbt';
    font-size: 20px;
}

.nav-link {
    color: white;
}

.navbar-brand {
    /*margin-left: 10px;*/
    margin-top: -30px;
}

.colour-nav{
    background-color: #800f69;
}

.colour-nav .navbar-nav .nav-link{
    color: white;
}

.nfsa-search {
    width:200px;
    font-family: 'futuralightbt';
}

.form-group{
    width:400px;
}

.search-icon .form-control {
    padding-right: 2.375rem;
}

.search-icon {
    position:relative;
}

.search-icon .form-control-feedback {
    width: 2.375rem;
    height: 2.375rem;
    line-height: 2.375rem;
    text-align: center;
    color: rgb(102, 102, 102);
    position: absolute;
    top: 10;
    right: 0;
}
