.search-button{
    background-color: #800f69;
    outline: #800f69;
    width: 100%;
    max-width: 250px;
    margin: 5px;
}

.btn-link {
    color: white;
}

.btn-link:hover{
    color:rgb(165, 165, 165);
    text-decoration: none;
}

.container {
    flex: 1;
    flex-direction: row;
    justify-content: space-between;
}

.cardsizing {
    max-width: 1600px;
    margin: auto;
}